entrypoint = "main.lua"

[interpreter]
command = [
    "lua",
    "main.lua",
    "test.ron",
	"-g",
 	"-t"
]

[nix]
channel = "stable-22_11"

[languages.lua]
pattern = "**/*.lua"

[languages.lua.languageServer]
start = ["lua-language-server"]
